In [1]:
import json
from pathlib import Path

path = Path("../data/raw/season1.json")
raw = path.read_text(encoding="utf-8")
data = json.loads(raw)

type(data), len(data)

(dict, 10)

In [6]:
episodes = list(data.keys())
episodes

first_episode = data[episodes[0]]
first_episode

list(first_episode.items())[:5]

[('1', 'Easy, boy.'),
 ('10', 'Our orders were to track the wildlings.'),
 ('100', '- Right. Give it here. - No!'),
 ('101', 'Put away your blade.'),
 ('102', '- I take orders from your father, not you. - Please, Father!')]

In [8]:
!pip install pandas
import pandas as pd

rows = []
for episode_name, subtitles in data.items():
    for subtitle_id, text in subtitles.items():
        rows.append({
            "episode": episode_name,
            "subtitle_id": int(subtitle_id),
            "text": text
        })

df = pd.DataFrame(rows).sort_values(["episode", "subtitle_id"]).reset_index(drop=True)
df.head()

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.3-cp314-cp314-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl.metadata (91 kB)
Collecting numpy>=1.26.0 (from pandas)
  Downloading numpy-2.3.4-cp314-cp314-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/lib/python3.14/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: tzdata>=2022.7 in /home/user/.local/lib/python3.14/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.14/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp314-cp314-manylinux_2_24_x86_64.manylinux_2_28_x86_64.whl (12.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.3/12.3 MB 44.5 MB/s eta 0:00:00MB/s eta 0:00:01
Downloading numpy-2.3.4-cp314-cp314-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 56.9 MB/s eta 0:00:00 MB/s eta 0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Installing collected packages: pytz, numpy, pandas
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3/3 [pandas]━━━━━━━━━━━ 2/3 [pandas]
Successfully installed numpy-2.3.4 pandas-2.3.3 pytz-2025.2

,episode,subtitle_id,text
0,Game Of Thrones S01E01 Winter Is Coming.srt,1,"Easy, boy."
1,Game Of Thrones S01E01 Winter Is Coming.srt,2,What do you expect? They're savages.
2,Game Of Thrones S01E01 Winter Is Coming.srt,3,"One lot steals a goat from another lot,"
3,Game Of Thrones S01E01 Winter Is Coming.srt,4,before you know it they're ripping each other ...
4,Game Of Thrones S01E01 Winter Is Coming.srt,5,I've never seen wildlings do a thing like this.

In [9]:
import re

def clean_episode(name):
    match = re.search(r"S\d+E\d+", name)
    return match.group(0) if match else name

df["episode"] = df["episode"].apply(clean_episode)
df.head()

  episode  subtitle_id                                               text
0  S01E01            1                                         Easy, boy.
1  S01E01            2               What do you expect? They're savages.
2  S01E01            3            One lot steals a goat from another lot,
3  S01E01            4  before you know it they're ripping each other ...
4  S01E01            5    I've never seen wildlings do a thing like this.

In [10]:
import re

def tokenize(text):
    return re.findall(r"[A-Za-z']+", text.lower())

df["tokens"] = df["text"].apply(tokenize)
df[["episode", "subtitle_id", "tokens"]].head()

  episode  subtitle_id                                             tokens
0  S01E01            1                                        [easy, boy]
1  S01E01            2          [what, do, you, expect, they're, savages]
2  S01E01            3    [one, lot, steals, a, goat, from, another, lot]
3  S01E01            4  [before, you, know, it, they're, ripping, each...
4  S01E01            5  [i've, never, seen, wildlings, do, a, thing, l...

In [11]:
from itertools import chain

all_tokens = list(chain.from_iterable(df["tokens"]))
len(all_tokens)

44935

In [12]:
from collections import Counter

freq = Counter(all_tokens)

freq_df = (
    pd.DataFrame(freq.items(), columns=["word", "count"])
    .sort_values("count", ascending=False)
    .reset_index(drop=True)
)

freq_df.head(20)

    word  count
0    the   1988
1    you   1572
2     to   1173
3      i   1146
4      a   1000
5    and    850
6     of    743
7     my    636
8   your    567
9     it    495
10    is    485
11    me    452
12    he    403
13    in    402
14   for    379
15  that    358
16    be    333
17  what    332
18    no    325
19  have    317

In [20]:
!pip install nltk
from nltk.corpus import stopwords
import nltk

nltk.download("stopwords")

stopwords_set = set(stopwords.words("english"))

content_df = (
    freq_df[~freq_df["word"].isin(stopwords_set)]
    .reset_index(drop=True)
)

content_df.head(30)

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in /home/user/.local/lib/python3.14/site-packages (3.9.2)
Requirement already satisfied: click in /usr/lib/python3.14/site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /home/user/.local/lib/python3.14/site-packages (from nltk) (1.5.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/lib64/python3.14/site-packages (from nltk) (2025.10.23)
Requirement already satisfied: tqdm in /usr/lib/python3.14/site-packages (from nltk) (4.67.1)

[nltk_data] Downloading package stopwords to /home/user/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

       word  count
0      lord    278
1      king    194
2      know    176
3       one    165
4      want    142
5       man    138
6    father    134
7      like    132
8     would    132
9        go    116
10      men    111
11      boy    110
12       us    106
13    stark    102
14     come    101
15      see    101
16     tell    100
17     lady     96
18     good     95
19    never     93
20      get     91
21  brother     91
22     back     84
23     time     83
24      ser     80
25     well     79
26     take     78
27   little     78
28      say     77
29       oh     76